
<style>
	.account a svg {
    width: 1.5rem;
    margin-bottom: -0.03rem;
    margin-right: 5px;
}
</style>

<div class="customer account">
	<div class="container">
		<div class="heading-account mb-5 d-inline-block w-100 text-end">
			<h2 class="text-center">My Account - {{ customer.name }}</h2>
			<a href="{{ routes.account_logout_url }}" class="btn btn-warning">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
				Log out
			</a>
		</div><!-- /heading-account -->
		<div class="orders-account mt-5">
			<div class="row">
				<div class="col-md-9">
					<h4>Order History</h4>
					{% paginate customer.orders by 5 %}
						{% if customer.orders.size > 0 %}
							<table class="table mt-3 table-striped table-hover">
								<thead>
									<tr>
										<th scope="col"># Order</th>
										<th scope="col">Date</th>
										<th scope="col">Payment Status</th>
										<th scope="col">Fulfillments Status</th>
										<th scope="col">Total</th>
									</tr>
								</thead>
								<tbody>
									{% for order in customer.orders %}
										<tr>
											<th scope="row"><a href="{{ order.customer_url }}">#{{ order.order_number }}</a></th>
											<td>{{ order.created_at | date: '%b %d, %Y' }}</td>
											<td>{{ order.financial_status_label }}</td>
											<td>{{ order.fulfillment_status_label }}</td>
											<td>{{ order.total_price | money_with_currency }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						{% else %}
							<h6>No orders yet.</h6>
						{% endif %}
						{% render 'mundofonn-pagination' paginate:paginate %}
					{% endpaginate %}
				</div><!-- /col9 -->

				<div class="col-md-3">
					{% render 'mundofonn-account-details' %}
				</div><!-- /col3 -->
			</div><!-- /row -->
		</div><!-- /order-account -->
	</div><!-- /container -->
</div>
