{{ 'customer.css' | asset_url | stylesheet_tag }}

<script src="{{ 'customer.js' | asset_url }}" defer></script>
<section>
	<div class="container">
		<div class="heading-account mb-5 d-inline-block text-center w-100">
			<h2>My Addresses</h2>
			<nav class="d-flex justify-content-between mt-5" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{{ routes.account_url }}">Account Details</a></li>
					<li class="breadcrumb-item active" aria-current="page">Addresses</li>
				</ol>
				<ul class="nav">
					<li>
						<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modal-new-address{{ forloop.index }}">
							Add New Address
						</button>

						<div class="modal fade" id="modal-new-address{{ forloop.index }}" tabindex="-1" aria-labelledby="modal-new-address{{ forloop.index }}Label" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<h3>New Address</h3>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div><!-- /modal-header -->
									<div class="modal-body">
										{%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
											<div class="row g-3">
												<div class="col-md-6">
													<div class="form-floating">
														<input type="text" name="address[first_name]" value="{{ address.first_name }}" class="form-control" id="inputfirstName" placeholder="firstName" >
														<label for="inputfirstName" class="form-label">First Name</label>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-floating">
														<input type="text" name="address[last_name]" value="{{ address.last_name }}" class="form-control" id="inputlastName" placeholder="lastName" >
														<label for="inputlastName" class="form-label">Last Name</label>
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-floating">
														<input type="text" name="address[company]" value="{{ address.company }}" class="form-control" id="inputcompany" placeholder="company" >
														<label for="inputcompany" class="form-label">Company</label>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-floating">
														<input type="text" name="address[address1]" value="{{ address.address1 }}" class="form-control" id="inputaddressone" placeholder="addressone" >
														<label for="inputaddressone" class="form-label">Address 1</label>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-floating">
														<input type="text" name="address[address2]" value="{{ address.address2 }}" class="form-control" id="inputaddresstwo" placeholder="addresstwo" >
														<label for="inputaddresstwo" class="form-label">Address 2</label>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-floating">
														<input type="text" name="address[city]" value="{{ address.city }}" class="form-control" id="inputcity" placeholder="city" >
														<label for="inputcity" class="form-label">City</label>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-floating">
														<input type="text" value="{{ address.country }}" name="address[country]" class="form-control" id="NewAddressCountry" placeholder="Country">
														<label for="NewAddressCountry" class="form-label">Country</label>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-floating">
														<input type="text" name="address[zip]" value="{{ address.zip }}" class="form-control" id="inputzip" placeholder="zip" >
														<label for="inputzip" class="form-label">Zip / Postal Code</label>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-floating">
														<input type="text" name="address[phone]" value="{{ address.phone }}" class="form-control" id="inputphone" placeholder="phone" >
														<label for="inputphone" class="form-label">Phone</label>
													</div>
												</div>
												<div class="col-12">
													<div class="form-check">
														{{ form.set_as_default_checkbox }}
														<label for="address_default_address_new">Set default address</label>
													</div>
												</div>
												<div class="col-12">
													<button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
													<button type="submit" class="btn btn-primary">Add now</button>
												</div>
											</div><!-- /row -->
										{%- endform -%}
									</div><!-- /modal-body -->
								</div><!-- /modal-content -->
							</div><!-- /modal-dialog -->
						</div><!-- /modal  -->
					</li>
				</ul>
			</nav>
		</div><!-- /heading-account -->

		<div class="row">
			{% paginate customer.addresses by 4 %}
				{% for address in customer.addresses %}
					<div class="col-md-4  mb-4">
						<div class="card bg-light border p-4 h-100 rounded-3">
							{{ address | format_address }}
							<div class="wrapper-btn text-center mt-auto">
								<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modal-edit-address{{ forloop.index }}">Edit</button>
								<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modal-delete-address{{ forloop.index }}">Delete</button>
							</div><!-- /wrapper-btn -->

							<!-- EDIT FORM MODAL -->
							<div class="modal fade" id="modal-edit-address{{ forloop.index }}" tabindex="-1" aria-labelledby="modal-edit-address{{ forloop.index }}Label" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<h3>Edit Address</h3>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div><!-- /modal-header -->
										<div class="modal-body">
											{%- form 'customer_address', address -%}
												<div class="row g-3">
													{%- if address == customer.default_address -%}
														<div class="col-12 text-center">
															<div class="badge bg-primary badge-md">Default Address</div>
														</div>
													{%- endif -%}
													<div class="col-md-6">
														<div class="form-floating">
															<input type="text" id="AddressFirstName_{{ form.id }}" class="form-control" name="address[first_name]" value="{{ form.first_name }}" placeholder="First Name">
															<label for="AddressFirstName_{{ form.id }}" class="form-label">First Name</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-floating">
															<input type="text" id="AddressLastName_{{ form.id }}" class="form-control" name="address[last_name]" value="{{ form.last_name }}" placeholder="Last Name">
															<label for="AddressLastName_{{ form.id }}" class="form-label">Last Name</label>
														</div>
													</div>
													<div class="col-md-12">
														<div class="form-floating">
															<input type="text" id="AddressCompany_{{ form.id }}" class="form-control" name="address[company]" value="{{ form.company }}" placeholder="Company">
															<label for="AddressCompany_{{ form.id }}" class="form-label">Company</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-floating">
															<input type="text" id="AddressAddress1_{{ form.id }}" class="form-control" name="address[address1]" value="{{ form.address1 }}" placeholder="Address 1">
															<label for="AddressAddress1_{{ form.id }}" class="form-label">Address 1</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-floating">
															<input type="text" id="AddressAddress2_{{ form.id }}" class="form-control" name="address[address2]" value="{{ form.address2 }}" placeholder="Address 2">
															<label for="AddressAddress2_{{ form.id }}" class="form-label">Address 2</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-floating">
															<input type="text" id="AddressCity_{{ form.id }}" class="form-control" name="address[city]" value="{{ form.city }}" placeholder="Ciudad">
															<label for="AddressCity_{{ form.id }}" class="form-label">Ciudad</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-floating">
															<input type="text" value="{{ address.country }}" name="address[country]" class="form-control" id="NewAddressCountry" placeholder="Country">
															<label for="NewAddressCountry" class="form-label">Country</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-floating">
															<input type="text" id="AddressZip_{{ form.id }}" class="form-control" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" placeholder="Zip/ Postal Code">
															<label for="AddressZip_{{ form.id }}" class="form-label">Zip/ Postal Code</label>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-floating">
															<input type="tel" id="AddressPhone_{{ form.id }}" class="form-control"  name="address[phone]" value="{{ form.phone }}" placeholder="Phone">
															<label for="AddressPhone_{{ form.id }}" class="form-label">Phone</label>
														</div>
													</div>
													<div>
														{{ form.set_as_default_checkbox }}
														<label for="address_default_address_{{ form.id }}">Set default address</label>
													</div>
													<div class="text-center">
														<button type="button" data-bs-dismiss="modal" class="btn btn-outline-secondary px-4">Cancel</button>
														<button class="btn btn-warning px-5">Update now</button>
													</div><!-- /text-center -->
												</div><!-- /row -->
											{%- endform -%}
										</div><!-- /modal-body -->
									</div><!-- /modal-content -->
								</div><!-- /modal-dialog -->
							</div><!-- /modal -->

							<!-- DELETE FORM MODAL -->
							<div class="modal fade" id="modal-delete-address{{ forloop.index }}" tabindex="-1" aria-labelledby="modal-delete-address{{ forloop.index }}Label" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Delete Address</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div><!-- /modal-header -->
										<div class="modal-body p-5">
											<div class="row">
												<div class="col-md-6">
													<h3 class="text-center">Are you sure to want to delete this address?</h3>
												</div><!-- /col -->
												<div class="col-md-6">
													<div class="card bg-light border p-4">
														{{ address | format_address }}
													</div><!-- /card -->
												</div><!-- /col -->
											</div><!-- /row -->
											<form class="text-center mt-4" method="post" action="/account/addresses/{{ address.id }}">
												<input type="hidden" name="_method" value="delete">
												<button type="button" data-bs-dismiss="modal" class="btn btn-outline-secondary">No, later</button>
												<button type="submit" class="btn btn-danger">Yes, delete now!</button>
											</form>
										</div><!-- /modal-body -->
									</div><!-- /modal-content -->
								</div><!-- /modal-dialog -->
							</div><!-- /modal -->
						</div><!-- /card -->
					</div><!-- /col -->
				{% endfor %}
			{% endpaginate %}
		</div><!-- /row -->
	</div><!-- /container -->
</section>
