<!-- {{ 'customer.css' | asset_url | stylesheet_tag }} -->

<div class="customer order">
	<div class="container">
		<div class="heading-account mb-5 d-inline-block text-center w-100">
			<h2>My Account - {{ customer.name }}</h2>
			<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{{ routes.account_url }}">Order History</a></li>
					<li class="breadcrumb-item active" aria-current="page">Order #1001</li>
				</ol>
			</nav>
		</div><!-- /heading-account -->

		<div class="orders-account mt-5">
			<div class="row">
				<div class="col-md-9">
					{% if customer.orders.size > 0 %}
						<h4>Order {{ order.name }}</h4>
						<table class="table mt-3 table-striped table-hover">
							<thead>
								<tr>
									<th scope="col">Product</th>
									<th scope="col">SKU</th>
									<th scope="col">Price</th>
									<th scope="col">Quantity</th>
									<th scope="col">Total</th>
								</tr>
							</thead>
							<tbody>
								{% for item in order.line_items %}
									<tr>
										<th scope="row"><a href="{{ item.url }}">#{{ item.title }}</a></th>
										<td>{{ item.sku }}</td>
										<td>{{ item.price | money_with_currency }}</td>
										<td>{{ item.quantity }}</td>
										<td>{{ item.final_line_price | money_with_currency }}</td>
									</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<td colspan="4" >Subtotal</td>
									<td>{{ order.line_items_subtotal_price | money_with_currency }}</td>
								</tr>
								<tr>
									<td colspan="4" >Shipping(Standard)</td>
									<td>{{ order.shipping_price | money_with_currency }}</td>
								</tr>
								<tr>
									<td colspan="4" >Total</td>
									<td>{{ order.total_price | money_with_currency }}</td>
								</tr>
							</tfoot>
						</table>
					{% endif %}
				</div><!-- /col9 -->
				<div class="col-md-3">
					<div class="wrapper bg-light border rounded-3 p-4">
						<h4>Order Details</h4>
						<p>
							<strong>Financial Status:</strong>
							{{ order.financial_status }}
						</p>
						<p>
							<strong>Fullfillment Status:</strong>
							{{ order.fulfillment_status }}
						</p>
						<p>
							<strong>Billing Address:</strong>
							{{ order.billing_address | format_address }}
						</p>
					</div>
				</div><!-- /col-3 -->
			</div><!-- /row -->
		</div><!-- /order-account -->
	</div><!-- /container -->
</div><!-- /customer order -->
