{% comment %} VARIABLES {% endcomment %}
{% assign name = 'Fernando' %}
<h2>
  {{ name | append: 'Welcome :) ' }}
</h2>

{% comment %} CONDICIONAL IF {% endcomment %}
{% assign age = 0 %}
{% if age >= 18 %}
  {{ 'ES MAYOR DE EDAD' | downcase }}
{% else %}
  {{ 'ES MENOR DE EDAD' | downcase }}
{% endif %}

<br>

{%comment%} ITERADOR FOR {%endcomment%}
<h2>
{% assign message = 'H,O,L,A,M,U,N,D,O' | downcase | split: ',' %}
{% for letter in message %}
  {{ letter }} <br>
  {% endfor%}
</h2>

<br>

{% comment %} ITERADOR FOR {% endcomment %}
{% assign ages = '12,42,36' | split: ',' %}
{% for age in ages %}
  {{ age }} <br/>
{% endfor %}
