{% style %}
    {% assign header_font = section.settings.heading_font %}
    {{ header_font | font_face }}
    .heading-banner {    
        font-family: {{ header_font.family }},{{ header_font.fallback_families }};        
    }
{% endstyle %}

<div class="container">
    <div class="banner text-center p-5 border rounded-3" style="background: {{ section.settings.bg_color_banner }};">
        <h3 class="mb-5 heading-banner" style="color: {{ section.settings.color_heading }}">{{ section.settings.heading_banner }}</h3>
        <a href="{{ section.settings.url_banner }}" class="btn btn-warning px-5">{{ 'homepage.collection_banner.collection_btn' | t }}</a>
    </div><!-- / banner -->
</div><!--/.container-->

{% schema %}
{
    "name": "t:sections.mundofonn-home-banner.name",
    "settings": [
        {
            "type": "text",
            "id": "heading_banner",
            "label": "t:sections.mundofonn-home-banner.settings.heading_banner.label",
            "default": "Conoce todas las consolas disponibles :)"
        },
        {
            "type": "font_picker",
            "id": "heading_font",
            "label": "t:sections.mundofonn-home-banner.settings.heading_font.label",
            "default": "helvetica_n4"
        },
        {
            "type": "color_background",
            "id": "bg_color_banner",
            "label": "t:sections.mundofonn-home-banner.settings.bg_color_banner.label",
            "default": "linear-gradient(#a1efff, #001624)"
        },
        {
            "type": "color",
            "id": "color_heading",
            "label": "t:sections.mundofonn-home-banner.settings.color_heading.label",
            "info": "t:sections.mundofonn-home-banner.settings.color_heading.info",
            "default": "#fff"
        },
        {
            "type": "url",
            "id": "url_banner",
            "label": "t:sections.mundofonn-home-banner.settings.url_banner.label"
        }
    ],
    "presets": [
     {
       "name": "Banner",
       "settings": {
          "heading_banner": "Title Banner"
        }
     }
   ]
}
{% endschema %}