<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="featured-image-primary mb-4">
                <a href="{{ 'img1.jpg' | asset_url }}" data-lightbox="roadtrip" data-title="My caption" ><img src="{{ 'img1.jpg' | asset_url }}" class="w-100" alt=""></a>
            </div><!-- /featured-image-primary -->
            <div class="featured-image-secondary">
                <div class="row">
                    <div class="col-md-3 mb-4">
                        <a href="{{ 'img2.jpg' | asset_url }}" data-lightbox="roadtrip" data-title="My caption" ><img src="{{ 'img2.jpg' | asset_url }}" class="w-100" alt=""></a>
                    </div>
                    <div class="col-md-3 mb-4">
                        <a href="{{ 'img3.jpg' | asset_url }}" data-lightbox="roadtrip" data-title="My caption" ><img src="{{ 'img3.jpg' | asset_url }}" class="w-100" alt=""></a>
                    </div>
                    <div class="col-md-3 mb-4">
                        <a href="{{ 'img1.jpg' | asset_url }}" data-lightbox="roadtrip" data-title="My caption" ><img src="{{ 'img1.jpg' | asset_url }}" class="w-100" alt=""></a>
                    </div>
                    <div class="col-md-3 mb-4">
                        <a href="{{ 'img2.jpg' | asset_url }}" data-lightbox="roadtrip" data-title="My caption" ><img src="{{ 'img2.jpg' | asset_url }}" class="w-100" alt=""></a>
                    </div>
                    <div class="col-md-3 mb-4">
                        <a href="{{ 'img3.jpg' | asset_url }}" data-lightbox="roadtrip" data-title="My caption" ><img src="{{ 'img3.jpg' | asset_url }}" class="w-100" alt=""></a>
                    </div>
                </div><!-- /row -->
            </div><!-- /featured-image-secondary -->
        </div><!-- /col -->
        <div class="col-md-5">
            <div class="badge-pill badge-pill-warning">Apple</div>
            <h2>Product Name</h2>
            <span>Price: 5000</span>
            <span>Offert: 2000</span>
        </div><!-- /col -->
    </div><!-- /row -->
</div><!-- /container -->