<div class="container">
	<div class="header-blog text-center mb-5">
		{% assign titleBlog = section.settings.title_blog | default: blog.title %}
		<h2>{{ titleBlog }}</h2>
		<p>{{ section.settings.description_blog }}</p>
	</div>
	{% paginate blog.articles by 5 %}
		<div class="row mt-3">
			{% for article in blog.articles %}
				<div class="col-12">
					<div class="post-wrapper d-flex mb-5 bg-light border p-3">
						<div class="row">
							<div class="col-3">
								<div class="img">
									{% if article.image %}
										{{ article.image | image_url: width: 500, height: 200 | image_tag: alt: '', class: 'w-100 object-fit-cover', loading: 'lazy' }}
									{% else %}
										{{ 'product-4' | placeholder_svg_tag: 'w-100' }}
									{% endif %}
								</div><!--/.img-->
							</div><!--/.col-->
							<div class="col-9">
								<div class="description">
									<h4><strong>{{ article.title }}</strong></h4>
									<cite>By <a href="#0">{{ article.author }}</a> | Published on {{ article.published_at | date: "%b %d, %Y" }}</cite>
									<p>{{ article.excerpt_or_content | strip_html | truncatewords: 20, '...' }}</p>
									<a href="{{ article.url }}" class="btn btn-warning">Read Post</a>
								</div><!--/.description-->
							</div><!--/.col-->
						</div><!--/.row-->
					</div><!--/.post-wrapper-->
				</div><!--/.col-->
			{% endfor %}
		</div><!--/.row-->

		{% render 'mundofonn-pagination' paginate: paginate %}
	{% endpaginate %}
</div><!--/.container-->

{% schema %}
{
	"name": "Main Blog",
	"settings": [
		{
			"type": "text",
			"id": "title_blog",
			"label": "Title Blog"
		},
		{
			"type": "textarea",
			"id": "description_blog",
			"label": "Description Blog"
		}
	]
}
{% endschema %}