<div class="container">
	<h2 class="text-center mb-5">{{ page.title }}</h2>

	<div class="content">
		{{ page.content }}
	</div>

	<div class="accordion mt-5" id="accordionExample">

		{% for block in section.blocks %}
			{% if block.type == 'faq' %}
				<div class="accordion-item">
					<h2 class="accordion-header" id="heading{{ forloop.index }}">
						<button class="accordion-button bg-warning text-dark h4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ forloop.index }}"
							aria-expanded="true" aria-controls="collapse-{{ forloop.index }}">
							{{ block.settings.question_title }}
						</button>
					</h2>
					<div id="collapse-{{ forloop.index }}" class="accordion-collapse collapse show" aria-labelledby="heading{{ forloop.index }}"
						data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<p>{{ block.settings.answer }}</p>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}

	</div>
</div>

{% schema %}
{
	"name": "FAQs",
	"tag": "section",
	"blocks": [
		{
			"name": "FAQ",
			"type": "faq",
			"settings": [
				{
					"type": "text",
					"id": "question_title",
					"label": "Question Title",
					"default": "Question Title :P"
				},
				{
					"type": "richtext",
					"id": "answer",
					"label": "Answer",
					"default": "<p>This is my answer...</p>"
				}
			]
		}
	]
}
{% endschema %}