<style>
    .post-content img,
    .post-content svg {
        max-height: 150px;
        object-fit: cover;
    }

    ul.share-buttons{
        list-style: none;
        padding: 0;
        }

        ul.share-buttons li{
        display: inline;
        }

        ul.share-buttons .sr-only{
        position: absolute;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
        }
</style>

{% for block in section.blocks %}
    {% if block.type == 'article_content' %}
        <div class="post-content mb-5">
            {{ article.content }}
            <br>
            {% for tag in article.tags %}
                <div class="badge bg-secondary">#{{ tag }}</div>
            {% endfor %}
        </div><!-- /post-content -->

    {% elsif block.type == 'share_buttons' %}
        <h5>Share Post:</h5>
        <ul class="share-buttons">
            <li><a href="https://www.facebook.com/share.php?u={{ canonical_url }}" title="Share on Facebook" target="_blank" class="badge bg-warning text-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16"><path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/></svg></a></li>
            <li><a href="https://twitter.com/intent/tweet/?text=sharePost&amp;url={{ canonical_url }}" target="_blank" title="Tweet" class="badge bg-warning text-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16"><path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/></svg></a></li>
            <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source={{ canonical_url }}" target="_blank" title="Share on LinkedIn" class="badge bg-warning text-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16"><path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/></svg></a></li>
            <li><a href="mailto:?subject=SharePost&amp;body={{ canonical_url }}" target="_blank" title="Send email" class="badge bg-warning text-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16"><path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/></svg></a></li>
        </ul>

    {% elsif block.type == 'article_comments' %}

    {% if article.comments_enabled? %}
        <div class="post-comments my-5">
            <h5>{{ article.comments_count }} Comments</h5>
            {% paginate article.comments by 5 %}
                {% for comment in article.comments %}
                    <div class="card w-100 mb-3">
                        <div class="card-header bg-light">By <strong>{{ comment.author }}</strong> | {{ comment.created_at | date: '%b %d, %Y' }}</div>
                        <div class="card-body">
                            <p>{{ comment.content }}</p>
                        </div><!-- /card-body -->
                    </div><!-- /card -->
                {% endfor %}
                {{ paginate | default_pagination }}
            {% endpaginate %}
        </div><!-- /post-comments -->
    {% endif %}

    {% elsif block.type == 'comment_form' %}
        <div class="make-comment my-5">
            <h5>Make a Comment</h5>
            {% form 'new_comment', article %}
                <div class="d-flex">
                    <input type="text" name="comment[author]" id="" value="{{ form.author }}" class="form-control mb-2 w-50 mr-2" placeholder="Name">
                    <input type="email" name="comment[email]" id="" value="{{ form.author }}" class="form-control mb-2 w-50 ms-2" placeholder="Email">
                </div>
                <textarea name="comment[body]" id="" cols="30" rows="10" class="form-control mb-2" placeholder="Message">{{ form.body }}</textarea>
                <input type="submit" value="Post Comment" class="btn btn-outline-warning text-dark">
                {% if form.errors %}
                    <div class="alert alert-danger mt-3 w-auto d-inline-block">
                        {{ form.errors | default_errors }}
                    </div>
                {% endif %}
            {% endform %}
        </div><!-- /make-comment -->

    {% elsif block.type == 'back_blog' %}
        <div class="container-btn text-center my-5">
            <a href="{{blog.url}}" class="btn btn-warning btn-lg">Go back to the blog</a>
        </div><!-- /container-btn -->
    {% endif %}
{% endfor %}

{% schema %}
{
    "name": "Article Content",
    "class": "col-12 col-md-9 main-article-content",
    "blocks": [
        {
            "name": "Article Content",
            "type": "article_content",
            "limit": 1
        },
        {
            "name": "Share Buttons",
            "type": "share_buttons",
            "settings": [
                {
                    "type": "checkbox",
                    "id": "share_facebook",
                    "label": "Share on Facebook",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "share_twitter",
                    "label": "Share on Twitter",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "share_linkedin",
                    "label": "Share on LinkedIn",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "share_email",
                    "label": "Share on Email",
                    "default": true
                }
            ],
            "limit": 1
        },
        {
            "name": "Comments",
            "type": "article_comments",
            "limit": 1
        },
        {
            "name": "Comment Form",
            "type": "comment_form",
            "limit": 1
        },
        {
            "name": "Back to Blog Button",
            "type": "back_blog",
            "limit": 1
        }
    ]
}
{% endschema %}