<style>
    .post-content img,
    .post-content svg {
        max-height: 150px;
        object-fit: cover;
    }

    ul.share-buttons{
        list-style: none;
        padding: 0;
        }

        ul.share-buttons li{
        display: inline;
        }

        ul.share-buttons .sr-only{
        position: absolute;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
        }
</style>

<!-- <div class="col-md-3">
    <h5 class="mb-3">Sidebar Title</h5>
    {{ 'product-4' | placeholder_svg_tag: 'bg-warning mb-3' }}
</div> -->

{% for block in section.blocks %}
    {% if block.type == 'article_content' %}
        <div class="post-content mb-5">
            {{ article.content }}
            <br>
            {% for tag in article.tags %}
                <div class="badge bg-secondary">#{{ tag }}</div>
            {% endfor %}
        </div><!-- /post-content -->

    {% elsif block.type == 'share_buttons' %}
        <h5>Share Post:</h5>
        <ul class="share-buttons">
            <li><a href="https://www.facebook.com/share.php?u={{ canonical_url }}" title="Share on Facebook" target="_blank" class="badge bg-warning text-dark">Facebook</a></li>
            <li><a href="https://twitter.com/intent/tweet/?text=sharePost&amp;url={{ canonical_url }}" target="_blank" title="Tweet" class="badge bg-warning text-dark">Twitter</a></li>
            <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source={{ canonical_url }}" target="_blank" title="Share on LinkedIn" class="badge bg-warning text-dark">LinkedIn</a></li>
            <li><a href="mailto:?subject=SharePost&amp;body={{ canonical_url }}" target="_blank" title="Send email" class="badge bg-warning text-dark">Email</a></li>
        </ul>

    {% elsif block.type == 'article_comments' %}

    {% if article.comments_enable? %}
        <div class="post-comments my-5">
            <h5>{{ article.comments_count }} Comments</h5>

            {% paginate article.comments by 5 %}
                {% for comment in article.comments %}
                    <div class="card w-100 mb-3">
                        <div class="card-header">By {{ comment.author }} | {{ comment.created_at | date: '%b %d, %Y' }}</div>
                        <div class="card-body">
                            <p>{{ comment.content }}</p>
                        </div><!-- /card-body -->
                    </div><!-- /card -->
                {% endfor %}

                {{ paginate | default_pagination }}
            {% endpaginate %}

        </div><!-- /post-comments -->
    {% endif %}

    {% elsif block.type == 'comment_form' %}
        <div class="make-comment my-5">
            <h5>Make a Comment</h5>
            {% form 'new_comment', article %}
                <input type="text" name="comment[author]" id="" value="{{ form.author }}" class="form-control mb-2" placeholder="Name">
                <input type="email" name="comment[email]" id="" value="{{ form.author }}" class="form-control mb-2" placeholder="Email">
                <textarea name="comment[body]" id="" cols="30" rows="10" class="form-control mb-2" placeholder="Message">{{ form.body }}</textarea>
                <input type="submit" value="Post Comment" class="btn btn-outline-warning text-dark">

                {% if form.errors %}
                    <div class="alert alert-danger mt-3 w-auto d-inline-block">
                        {{ form.errors | default_errors }}
                    </div>
                {% endif %}
            {% endform %}
        </div><!-- /make-comment -->
    
    {% elsif block.type == 'back_blog' %}
        <div class="container-btn text-center my-5">
            <a href="{{blog.url}}" class="btn btn-warning btn-lg">Go back to the blog</a>
        </div><!-- /container-btn -->
    {% endif %}
{% endfor %}

{% schema %}
{
    "name": "Main Article",
    "class": "col-12 col-md-9 main-article-content",
    "blocks": [
        {
            "name": "Article Content",
            "type": "article_content",
            "limit": 1
        },
        {
            "name": "Share Buttons",
            "type": "share_buttons",
            "settings": [
                {
                    "type": "checkbox",
                    "id": "share_facebook",
                    "label": "Share on Facebook",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "share_twitter",
                    "label": "Share on Twitter",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "share_linkedin",
                    "label": "Share on LinkedIn",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "share_email",
                    "label": "Share on Email",
                    "default": true
                }
            ],
            "limit": 1
        },
        {
            "name": "Comments",
            "type": "article_comments",
            "limit": 1
        },
        {
            "name": "Comment Form",
            "type": "comment_form",
            "limit": 1
        },
        {
            "name": "Back to Blog Button",
            "type": "back_blog",
            "limit": 1
        }
    ]
}
{% endschema %}