<style>
    .featured-image-primary {
        height: 100%;
        width: 100%;
        max-height: 600px;
    }
    
    .featured-image-primary a img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .shopify-payment-button__button--unbranded {
        background-color: #ffc107;
        padding: 1em 2em;
        color: #000;
    }

</style>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="featured-image-primary mb-4">
                <a href="{{ product.featured_image | img_url: 'master' }}" data-lightbox="product" data-title="{{ product.title }}" ><img src="{{ product.featured_image | img_url: 'master' }}" class="w-100" alt=""></a>
            </div><!-- /featured-image-primary -->
            <div class="featured-image-secondary">
                <div class="row">
                    {% for image in product.images offset: 1 %}
                        <div class="col-12 col-sm-6 col-md-3 mb-4">
                            <a href="{{ image | img_url: 'master' }}" data-lightbox="product" data-title="{{ product.title }}" ><img src="{{ image | img_url: 'master' }}" class="w-100" alt=""></a>
                        </div>
                    {% endfor %}
                </div><!-- /row -->
            </div><!-- /featured-image-secondary -->
        </div><!-- /col -->
        <div class="col-md-5">
            <div class="badge badge-pill bg-warning">{{ product.vendor }}</div>
            <h2>{{ product.title }}</h2>
            {% if product.compare_at_price != blank %}
                <p>Normal Price: <del class="text-muted">{{ product.compare_at_price | money_with_currency }}</del> </p>
            {% endif %}
            <p>{% if product.compare_at_price != blank %}Offer: {% else %} Price: {% endif %} <strong>{{ product.price | money_with_currency }}</strong> </p>
            {% form 'product', product %}
                <div class="quantity-product">
                    
                    {% if product.variants.size > 1 %}
                        <p>Variants:</p>
                        <select name="id" id="" class="form-control mb-1">
                            {% for variant in product.variants %}
                                <option value="{{ variant.id }}" {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}>{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                    {% endif %}

                    <div class="input-group">
                        <button type="button" class="btn btn-secondary form-control btn-decrease">-</button>
                        <input type="text" name="quantity" value="1" class="form-control input-group-text quantity">
                        <button type="button" class="btn btn-secondary form-control btn-increase">+</button>
                    </div>
                    <div class="product-ctas mt-1">
                        <input type="submit" class="btn btn-outline-warning w-100 mt-1 mb-1 text-dark" value="Add to Cart">
                        {{ form | payment_button }}
                    </div>
                </div>
            {% endform %}
            <div class="description">
                <p>{{ product.description }}</p>
            </div>
        </div><!-- /col -->
    </div><!-- /row -->
</div><!-- /container -->

<script>
    let btnDecrease = document.querySelector('.btn-decrease');
    let btnIncrease = document.querySelector('.btn-increase');
    let quantity = document.querySelector('.quantity');

    btnDecrease.addEventListener('click', function() {
        if (quantity.value > 1) {
            quantity.value = parseInt(quantity.value) - 1;
        }
    });

    btnIncrease.addEventListener('click', function() {
        quantity.value = parseInt(quantity.value) + 1;
    });

</script>