{% layout none %}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="theme-color" content="{{ settings.color_background }}">
		<link rel="canonical" href="{{ canonical_url }}">
		<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
		{%- if settings.favicon != blank -%}
		<link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
		{%- endif -%}
		{%- unless settings.type_header_font.system? -%}
		<link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
		{%- endunless -%}
		{%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros | strip_html -%}
		<title>{{ 'gift_cards.issued.title' | t: value: formatted_initial_value, shop: shop.name }}</title>
		<meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">
		{{ content_for_header }}
		{%- liquid
			assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
			assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
			assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
		%}
		
		{{ 'vendor/qrcode.js' | shopify_asset_url | script_tag }}
		{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
	</head>

	<body>
		<main class="gift-card my-5 py-5">
			<section>
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-8 mx-auto">
							<div class="card-content bg-light border border-2 rounded-3 p-5">
								<h2 class="text-center">Your Gift Card</h2>
								{{ 'gift-card.png' | asset_url | img_tag: '','w-100' }}
								<div class="text-center">
									<h3>Hey {{ gift_card.customer.first_name }}!</h3>
									{% if gift_card.enabled %}
										<h6>This card is currently enable</h6>
									{% else %}
										<h6>This card is currently disable</h6>
									{% endif %}
								</div><!-- /text-center -->

								<div class="row">
									<div class="col-md-6 mt-4">
										<h6><strong>This card expires on: </strong>{{ gift_card.expires_on | date: '%b %d %Y' }}</h6>
										<h6><strong>Balance: </strong>{{ gift_card.balance | money_with_currency }}</h6>
										<h6><strong>Code: </strong>{{ gift_card.code }}</h6>
										{% if gift_card.expired %}
											<h6>This card already expired</h6>
										{% else %}
											<h6>This card hasn't expired yet.</h6>
										{% endif %}
									</div><!-- /col -->
									<div class="col-md-6">
										<div id="qr-code" class="d-flex justify-content-center mt-4"></div>
										<script>
											new QRCode(document.getElementById('qr-code'), {
												text: '{{ gift_card.qr_identifier }}',
												width: 120,
												height: 120,
											});
										</script>
									</div><!-- /col -->
								</div><!-- /row -->

								{% if gift_card.pass_url %}
									<a href="{{ gift_card.pass_url }}" >
										<img id="apple-wallet-badge"
										src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}"
										width="120"
										height="40"
										alt="Add To Apple Wallet">
									</a>
								{% endif %}

							</div><!-- /card-content -->
						</div><!-- /col -->
					</div><!-- /row -->
				</div><!-- /container -->
			</section>
		</main>
		<script src="{{ 'bootstrap.min.js' | asset_url }}" defer="defer"></script>
	</body>
</html>
